/************* Fonts in used
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*************/

/************* Tag Selectors *************/

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/************* Class Selectors *************/

/* General Purpose */

.big-heading {
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 13%;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Nav Bar */
.navbar {
  padding: o 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Title */

.title-image {
  position: absolute;
  margin-top: 20px;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

.dl-button {
  margin: 3% 3% 3% 0;
}

/* Features */

.feature-cell {
  margin: 25px 0;
  padding: 5%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1.25rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonials */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-pfp {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press */

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.price-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA */

/* Footer */

.footer-social {
  margin: 20px 10px;
}
/************* ID Selectors *************/

#title .container-fluid {
  padding: 3% 13% 7%;
  text-align: left;
}

#features {
  position: relative;
}

#testimonials {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 5%;
}

#pricing {
  padding: 50px;
}

/************* Media Queries *************/

@media (max-width: 991px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  #title .container-fluid {
    text-align: center;
  }
}
